.myClass{

}

.button{
     background:#00ffff;
     width:115px;
     height:95px;
     padding-top:5px;
     padding-bottom:5px;
     color:black;
     border-radius:4px;
     border: #6495ed 1px solid;

     margin-top:2px;
     margin-bottom:2px;
     float:left;
     margin-left:1px;
     font-weight:800;
     font-size:0.8em;
     text-align:center;
     line-height:93px;
}

.SmallButton{
     background:#1fadad;
     width:55px;
     height:15px;
     padding-top:5px;
     padding-bottom:5px;
     color:black;
     border-radius:4px;
     border: #6495ed 1px solid;

     margin-top:2px;
     margin-bottom:2px;
     float:left;
     margin-left:1px;
     font-weight:800;
     font-size:0.8em;
     text-align:center;
}

.button:hover{background:#008b8b;}

.TotalButton:hover{background:#008b8b;}